# Android Studio / IntelliJ
*.iml
.gradle
gradle.properties
.idea/
*.iws
*.ipr

# Build folders
build/
app/build/
.kotlin/

# OS specific
.DS_Store
Thumbs.db

# Captures and logs
/captures
*.log

# Native build artifacts
.externalNativeBuild
.cxx

# Secrets and sensitive files
*.jks
*.keystore
google-services.json
secrets.properties
local.properties
/local.properties
captures/
.navigation/
lint/
*.apk
output.json

# Gradle configuration cache
.gradle-configuration-cache/

# Bundle tool output
*.aab